# API settings
VITE_APP_API_URL=http://localhost:3000
VITE_APP_ENABLE_API_MOCKING=false
VITE_APP_MOCK_API_PORT=8080

# Application settings
VITE_APP_URL=http://localhost:3000
VITE_APP_NAME=KarirKit
VITE_APP_DEBUG=true

# Authentication settings
VITE_APP_GOOGLE_CLIENT_ID=your_google_client_id

# Payment settings
VITE_APP_MIDTRANS_CLIENT_KEY=your_midtrans_client_key

# Support settings
VITE_APP_SUPPORT_EMAIL=support@karirkit.com
VITE_APP_SUPPORT_WHATSAPP=628123456789
